[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}


body {
  background-color: !important #eff1ee;
  font-family: 'helvetica', 'verdana', sans-serif;
  font-size: 16px;
}

header{
    padding: 0;
    background-color: #54217c;
    color: #fff;
    text-align: center;
    h1{
        text-shadow: 1px 1px #eff1ee;
        font-size: 2.5em;
    }
    p{
        font-size: 1.5em;
    }
}
#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    
     #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
     }
}
 