<!DOCTYPE html>
<html lang="pt-br" ng-app="FuturoUniversitario">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Futuro Universitário</title>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>

    
    <body ng-cloak>
        
        <header>
             <div class="container">
                 <h1>Futuro Universitário</h1>
                <div class="row">
                    <p>Busque informações sobre universidades atráves do nome dela ou atráves do curso sua localização</p>
                       <form formBusca name="formBusca" ng-controller="futuroUniversitarioCtrl">
                           <div class="input-group">
                               <div class="dropdown input-group-btn">
                                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" value="1" ng-model="button">
                                    <span class="selection">Universidade</span>
                                    <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#" data-value=1>Universidade</a></li>
                                    <li><a href="#" data-value=2>Curso</a></li>
                                  </ul>
                                </div>
                                <input type="text" class="form-control" placeholder="Busca" ng-model="nome"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button" ng-click="procura(nome)"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                </span>
                               
                            </form>
                        </div>
                 </div>
              </div>
        </header>

        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-messages/angular-messages.js"></script>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="js/main.js"></script>
        <script src="js/modules.js"></script>
        <script src="js/controlers.js"></script>
    </body>
</html>